

</body>

<footer>
    <span id="year"></span>
</footer>

    <script>
        let currentTime = new Date();
        let currentYear = currentTime.getFullYear();
        let year =  document.querySelector("#year");
        year.innerHTML = `©️ ${currentYear}`;
           
    </script>

</html>