<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="box" id="heading">
        <h1>
            <%= listTitle %>
        </h1>
    </div>

    <div class="box">

        <% for (let i=0; i< tasklist.length;i++) { %>
            <div class="item">
                <input type="checkbox">
                <p>
                    <%= tasklist[i] %>
                </p>
            </div>

            <% } %>
            <form class="item" action="/" method="POST">
                <input type="text" name="newtask" placeholder="newtask" autocomplete="off">
                <br>
                <button type="submmit" name="list" value=<%= listTitle %>>+</button>
            </form>

    </div>


    <script>
        /*let currentTime = new Date();
        let currentYear = currentTime.getFullYear();
        let svgText =  document.querySelector("#text");
        svgText.innerHTML = `©️ ${currentYear}`;
        console.log(svgText);    */
    </script>
</body>

</html>