
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Made by JSE</p>
  </div>
</div>

<script>
  let year = new Date().getFullYear();  
  let footer = document.querySelector(".footer").querySelector("p");
  footer.innerHTML = footer.innerHTML + ` ©️ ${year}`;  
</script>
</body>
</html>
