

h1 {
    color:red;
}

/**************************** TAG SELECTORS ****************************/

img:hover {
    
    background-color: gold;
}

/**************************** TAG SELECTORS ****************************/

.bacon {
    background-color: red;
}

.broccoli {
    background-color: green;
}

.circular {
    border-radius: 100%;
}

/**************************** ID SELECTORS ****************************/

#heading{
    color:black;
}